{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}
{% load socialaccount %}

{% block subtitle %}Sign Up{% endblock %}


{% block only-body %}

    <div class="home-btn d-none d-sm-block">
        <a href="/" class="text-dark">
            <i class="fas fa-home h2"></i>
        </a>
    </div>

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-danger p-4">
                                        <h5 class="text-danger">Free Register</h5>
                                        <p>Registration has been disabled by administration.</p>
                                        <p><a href="/accounts/login/"><i class="fa fa-arrow-left"></i> Back to Login</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


