{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block subtitle %}
    Invoicer
{% endblock %}

{% block css %}
    <style>
        #searchlist-products li:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    </style>

{% endblock %}

{% block page_heading %}
    <b><i class="fa fa-barcode"></i> Tarbazar Invoicer.</b>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">


            {# LEFT DIV #}
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="row">
                            <div class="col">
                                <p class="mb-0 card-title">Product List</p>
                            </div>
                            <div class="col">
                                <div class="position-relative">
                                    <input type="search" name="search" id="search" placeholder="Product Name"
                                           class="form-control form-control-sm" autofocus
                                    >
                                    <ul id="searchlist-products"
                                        class="list-unstyled border border-top-0 w-100 bg-white position-absolute">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive repeater">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>SN0</th>
                                    <th>Product Name</th>
                                    <th>Code</th>
                                    <th>Rate</th>
                                    <th>Quantity</th>
                                    <th>VAT %</th>
                                    <th>Amount</th>
                                    <th>Net</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody data-repeater-list="group-a" id="products-list">

                                </tbody>
                                <tfoot class="">
                                <tr class="">
                                    <td colspan="8" class="text-right">
                                        <h5 class="mb-0 font-weight-bolder">Total</h5>
                                    </td>
                                    <td colspan="0" class="text-right">
                                        <input type="number" min="-" value="00" class="form-control form-control-sm" style="width: 100px;"
                                               id="total" name="total" contentEditable="false">
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="8" class="text-right">
                                        <h5 class="mb-0 font-weight-bolder">VAT 15%</h5>
                                    </th>
                                    <th colspan="2" class="text-right">
                                        <input min="0" type="number" value="00" class="form-control form-control-sm" id="vat-total"
                                               name="vat-total" style="width: 100px;" contentEditable="false">
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="8" class="text-right">
                                        <h5 class="mb-0 font-weight-bolder">Grand Total</h5>
                                    </th>
                                    <th colspan="2" class="text-right">
                                        <input min="0" value="00" type="number" class="form-control form-control-sm" id="grand-total"
                                               name="grand-total" style="width: 100px;" contentEditable="false">
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {# RIGHT DIV #}
            <div class="col-sm-4">

                {# COMPANY AND CLIENT DATA #}
                <div class="card">
                    <div class="card-body border-bottom">
                        <p class="mb-0 card-title">Customer and Company</p>
                    </div>
                    <div class="card-body border-bottom">
                        <div class="mb-3 mb-3">
                            <label class="form-label" for="customer_name">Customer Name <span>*</span></label>
                            <input id="customer_name" class="form-control form-control" type="text" name="customer_name"
                                   required
                                   placeholder="Rashid Mehmood">
                        </div>
                        <div class="mb-3 mb-3">
                            <label class="form-label" for="customer_name">Address</label>
                            <input id="address" class="form-control form-control" type="text" name="address"
                                   placeholder="House #000 Street 01902 - City Country">
                        </div>
                    </div>
                </div>

                {# SUBMISSION DATA #}
                <div class="card">
                    <div class="card-body border-bottom">
                        <p class="mb-0 card-title">Submission</p>
                    </div>
                    <div class="card-body">

                        <p class="font-weight-bolder text-secondary">
                            This action will generate invoice, <code>QR Code</code> and redirect you to invoice print
                            page
                            make sure all the given data
                            is correct and calculated accurately.
                        </p>

                        <button class="btn btn-success">
                            <i class="fa fa-check"></i> Submit
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}


{% block js %}
    <script src="{% static 'core/libs/jquery.repeater/jquery.repeater.min.js' %}"></script>
    <script src="{% static 'core/js/pages/form-repeater.int.js' %}"></script>
{% endblock %}


{% block js_code %}
    <script>


        $(document).ready(function () {

            $('#search').keyup(function () {
                let search = $('#search').val();
                if (search !== '') {
                    searchproducts(search);
                } else {
                    $('#searchlist-products').html('');
                }
            });

            $('#products-list').on('change', 'input', function () {
                form_validation($(this));
                totalling();
            });
            $('#products-list').on('keyup', 'input', function () {
                form_validation($(this));
                totalling();
            });

            $('#products-list').on('click', '#delete-btn', function () {
                $(this).parent().parent().remove();
                totalling();
            });

            function searchproducts(search) {
                $.get('/admins/api/product/?search=' + search, function () {
                }).done(function (data, status) {
                    if (status === 'success') {
                        $('#searchlist-products').html('');
                        for (let i = 0; i < data.length; i++) {
                            $('#searchlist-products').append('<li class="px-2 py-1" data-code="' + data[i].code + '" data-vat="' + data[i].vat + '" data-rate="' + data[i].rate + '" id="' + data[i].id + '">' + data[i].name + '</li>');
                        }
                    }
                });
            }

            function form_validation(element) {
                if(element.val() === "" || element.val() == null){
                    element.addClass("border border-danger bg-soft-danger");
                }else{element.removeClass("border border-danger bg-soft-danger");}
            }

            $('#searchlist-products').on('click', 'li', function () {
                if (isproductexistsincart(this.id) === false) {

                    let html = `
                           <tr data-repeater-item="" id="${this.id}">
                                <th id="p-id">#${this.id}</th>
                                <td>${$(this).text()}</td>
                                <th id="p-code">${$(this).data('code')}</th>
                                <td>${$(this).data('rate')}</td>
                                <td><input type="number"  min="0" class="form-control form-control-sm" required style="width: 50px;" placeholder="0" id="p-qty" value="1" name="p-qty"></td>
                                <td><input type="number" min="0" class="form-control form-control-sm" required style="width: 60px;" placeholder="0" value="${$(this).data('vat')}" id="p-vat" name="p-vat"></td>
                                <td><input type="number" min="0" class="form-control form-control-sm" required style="width: 70px;" placeholder="0" id="p-amount" name="p-amount" value="${$(this).data('rate')}"></td>
                                <td hidden><input type="text" size="3" hidden placeholder="0" id="p-id" name="p-id" value="${this.id}"></td>
                                <th id="p-net">00</th>
                                <th>
                                    <button class="btn btn-sm text-danger bg-white" id="delete-btn" data-id="${this.id}">
                                       <i class="fa fa-trash"></i>
                                    </button>
                                </th>
                            </tr>
`

                    $('#products-list').append(html);
                }
                $('#searchlist-products').html('');
                $('#search').val('');
                $('#search').focus();
                totalling();
            });

            function isproductexistsincart(id) {
                let flag = false;
                $('#products-list > tr').each(function () {
                    if ($(this).attr('id') === id) {
                        alert('Product Already exists');
                        flag = true;
                    }
                });
                return flag;
            }

            function totalling() {
                let _total = 0;
                let _vat = 0;
                let _grand_total = 0;

                $('#products-list > tr').each(function () {
                    let id = '#' + $(this).attr('id');
                    let amount = parseFloat($(id + ' #p-amount').val());
                    let vat = parseFloat($(id + ' #p-vat').val());
                    let qty = parseFloat($(id + ' #p-qty').val());

                    let total = qty * amount;
                    let net_total = total + (total * (vat/100));
                    let vat_total = total*(vat/100);

                    $(id + ' #p-net').text(net_total);
                    _total += total;
                    _grand_total += net_total;
                    _vat += vat_total;
                });

                $('#total').val(_total.toFixed(1));
                $('#grand-total').val(_grand_total.toFixed(1));
                $('#vat-total').val(_vat.toFixed(1));
            }

        });

    </script>
{% endblock %}

