{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block subtitle %}
    Products
{% endblock %}

{% block page_heading %}
    Products
{% endblock %}

{% block page_heading_right %}
    <a href="{% url 'admins:product-add' %}" class="btn btn-success">
        <i class="fa fa-plus"></i> New Product
    </a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <form method="get">
                        <div class="input-group">
                            {{ filter_form }}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>
                                <a class="btn btn-danger" href="{% url 'admins:product-list' %}">
                                    <i class="fa fa-paint-brush"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body border-bottom">

                    {% if object_list %}
                        <div class="-0 table-responsive">

                            <table class="table align-middle table-nowrap mb-0 table-hover">
                                <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Rate</th>
                                    <th>Vat</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <a href="#" class="text-body fw-bold">#{{ object.pk }}</a>
                                        </td>
                                        <td>
                                            <b>{{ object.name }}</b>
                                        </td>
                                        <td>{{ object.code }}</td>
                                        <td>{{ object.rate }}</td>
                                        <td>{{ object.vat }}</td>
                                        <td>
                                            {% if object.is_active %}
                                                <span class="badge badge-soft-success">Active</span>
                                            {% else %}
                                                <span class="badge badge-soft-danger">In Active</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ object.created_on }}</td>
                                        <td>
                                            <a href="{% url 'admins:product-update' object.pk %}"><b><i
                                                    class="fa fa-edit"></i> Edit</b></a>&nbsp;&nbsp;
                                            <a href="{% url 'admins:product-delete' object.pk %}"
                                               class="text-danger"><b><i class="fa fa-trash"></i> Delete</b></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="mb-0"><b class="text-danger">No objects available.</b></p>
                    {% endif %}
                </div>
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <ul class="pagination">
                                    {% if object_list.has_previous %}
                                        <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous&nbsp;&nbsp;
                                </a>
                            </span>
                                        </li>
                                    {% endif %}
                                    <li class="">
                                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                                    </li>
                                    {% if object_list.has_next %}
                                        <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    &nbsp;&nbsp;Next
                                </a>
                            </span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function () {

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}

